In [17]:
import pandas as pd
import os
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'

In [15]:
df = pd.read_csv('../task-5-web-app-deployment/data/model/poverty.csv', index_col='city_municipality')
df

,Cost of Living,Poverty Incidents,Financial Deepening,Employed Population,Cluster_Id,Vulnerability
city_municipality,,,,,,
Aborlan,0.737637,0.141845,0.112828,0.007804,1,medium
Abra De Ilog,0.781364,0.232656,0.040603,0.080855,1,medium
Abucay,0.548175,0.039571,0.311169,0.371140,0,low
Abulug,0.621007,0.160440,0.641586,0.020086,0,low
Abuyog,0.350318,0.330855,0.469916,0.012154,0,low
...,...,...,...,...,...,...
Zamboanga,0.825091,0.201325,0.309794,0.129982,1,medium
Zamboanguita,0.803262,0.194956,0.105770,0.027890,1,medium
Zaragoza,0.999650,0.020721,0.559921,0.029041,1,medium
Zarraga,0.985448,0.110004,0.238945,0.102476,1,medium
Zumarraga,0.313307,0.467135,0.000000,0.000000,0,low

In [16]:
df_pt = gpd.read_('../../../noah_working/noah/output-datasets/flood-100yr-projected.parquet')
df_pt

     index       name  Var                                           geometry
0        0     Alilem  1.0  b'\x01\x06\x00\x00\x00\xc0\x04\x00\x00\x01\x03...
1        1      Badoc  1.0  b'\x01\x06\x00\x00\x00\x04\x00\x00\x00\x01\x03...
2        2   Banayoyo  1.0  b'\x01\x06\x00\x00\x00?\x03\x00\x00\x01\x03\x0...
3        3    Bangued  1.0  b'\x01\x06\x00\x00\x00\x04\x00\x00\x00\x01\x03...
4        4     Bantay  1.0  b'\x01\x06\x00\x00\x00\xff\t\x00\x00\x01\x03\x...
..     ...        ...  ...                                                ...
150    150    Talayan  3.0  b'\x01\x06\x00\x00\x00\t\x02\x00\x00\x01\x03\x...
151    151    Talitay  3.0  b'\x01\x06\x00\x00\x00Q\x00\x00\x00\x01\x03\x0...
152    152  Tantangan  3.0  b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\'\x00\x...
153    153    Tulunan  3.0  b'\x01\x06\x00\x00\x00w\x00\x00\x00\x01\x03\x0...
154    154        Upi  3.0  b'\x01\x06\x00\x00\x00\xa0\n\x00\x00\x01\x03\x...

[4912 rows x 4 columns]

In [13]:
def read_csv_folder(folder_path):
    """Reads all CSV files in a folder and creates separate dataframes for each file"""
    csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])
    for i, file in enumerate(csv_files):
        globals()[str(i)] = pd.read_csv(os.path.join(folder_path, file))

In [14]:
folder_path = '../../tasks/task-5-web-app-deployment/data/model/'
read_csv_folder(folder_path)

In [16]:
df1

NameError: name 'df1' is not defined

In [12]:
def get_data():
    data_folder = "../task-5-web-app-deployment/data/model"
    files = [f for f in os.listdir(data_folder) if f.endswith(".csv")]
    dfs = {}
    for file in files:
        df_name = os.path.splitext(file)[0]
        df = pd.read_csv(os.path.join(data_folder, file))
        df = df.iloc[:, :-2]  # remove last column
        dfs[df_name] = df.set_index(df.columns[0])
    return dfs

In [13]:
data = get_data()
# df_disaster = data["disaster"]
# df_dweg = data["dweg"]
# df_health = data["health"]
# df_industry = data["industry_II"]
df_poverty = data["poverty"]

In [14]:
df_poverty

,Cost of Living,Poverty Incidents,Financial Deepening,Employed Population
city_municipality,,,,
Aborlan,0.737637,0.141845,0.112828,0.007804
Abra De Ilog,0.781364,0.232656,0.040603,0.080855
Abucay,0.548175,0.039571,0.311169,0.371140
Abulug,0.621007,0.160440,0.641586,0.020086
Abuyog,0.350318,0.330855,0.469916,0.012154
...,...,...,...,...
Zamboanga,0.825091,0.201325,0.309794,0.129982
Zamboanguita,0.803262,0.194956,0.105770,0.027890
Zaragoza,0.999650,0.020721,0.559921,0.029041
Zarraga,0.985448,0.110004,0.238945,0.102476
Zumarraga,0.313307,0.467135,0.000000,0.000000

In [42]:
Disaster, Economy, Health, Industry, Poverty = 'src/tasks/task-5-web-app-deployment/pckls/disaster.pkl', 'src/tasks/task-5-web-app-deployment/pckls/dweg.pkl', 'src/tasks/task-5-web-app-deployment/pckls/health.pkl', 'src/tasks/task-5-web-app-deployment/pckls/industry_II.pkl', 'src/tasks/task-5-web-app-deployment/pckls/poverty.pkl'

In [43]:
models = {'Disaster': Disaster, 'Economy': Economy, 'Health': Health, 'Industry': Industry, 'Poverty': Poverty}

In [44]:
model_names = models.keys()

In [45]:
model_names

dict_keys(['Disaster', 'Economy', 'Health', 'Industry', 'Poverty'])

In [46]:
models[option]

NameError: name 'option' is not defined