In [1]:
import pandas as pd

# To show all columns
pd.set_option('display.max_columns', None)

# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('merged_trained_v1.csv')
df1 = pd.read_csv('population_data_v2.csv')

In [8]:
df

,city_munic,longitude,latitude,coords,geometry,Disaster_ind,Economic_ind,Healthcare_ind,Poverty_ind,cluster_id
0,Aborlan,118.548417,9.437101,"9.4371009, 118.5484168",MULTIPOLYGON (((118.57997900000032 9.372150000...,-0.124782,2.045980,6111.666368,1.344704,1
1,Abra De Ilog,120.726826,13.443721,"13.4437209, 120.7268262",POLYGON ((120.60896301200034 13.35233020800012...,-0.024170,2.146482,6125.292876,1.322207,1
2,Abucay,120.534870,14.721315,"14.7213146, 120.5348704",POLYGON ((120.45675659200003 14.69670963300006...,-0.338765,1.088696,6120.376422,0.374939,2
3,Abulug,121.457273,18.443485,"18.4434854, 121.4572732",MULTIPOLYGON (((121.40276336600016 18.40896034...,0.692304,1.410185,6125.106815,0.366292,2
4,Abuyog,125.011485,10.747102,"10.747102, 125.0114853",POLYGON ((125.04650115900006 10.56750965100002...,0.147186,2.025310,5951.785434,1.167301,1
...,...,...,...,...,...,...,...,...,...,...
1627,City of Zamboanga,122.079000,6.921400,"6.9214, 122.079",MULTIPOLYGON (((122.06639100100006 6.869720001...,-1.830662,1.892501,1430.463142,0.434479,0
1628,Zamboanguita,123.199424,9.100465,"9.1004649, 123.1994244","POLYGON ((123.20749664200002 9.10484981500008,...",-0.608573,1.881614,6120.737270,0.524020,2
1629,Zaragoza,120.793554,15.447583,"15.4475833, 120.7935538",POLYGON ((120.81169891400009 15.47132015300013...,-0.268424,1.307849,6111.595678,0.395353,2
1630,Zarraga,122.609582,10.822379,"10.8223786, 122.6095819","POLYGON ((122.6589202890001 10.797840119, 122....",-0.266877,1.611988,6103.297094,0.877947,2
1631,Zumarraga,124.841531,11.639055,"11.6390554, 124.8415308",MULTIPOLYGON (((124.87373400000024 11.62500000...,0.131466,1.947118,6151.863312,0.824952,1

In [9]:
df1

        city_munic population
0          Aborlan     35,091
1     Abra De Ilog     31,306
2           Abucay     42,984
3           Abulug     32,497
4           Abuyog     59,571
...            ...        ...
1629     Zamboanga    977,234
1630  Zamboanguita     27,552
1631      Zaragoza     53,090
1632       Zarraga     27,305
1633     Zumarraga     16,936

[1634 rows x 2 columns]

In [13]:
dup = df['city_munic'].duplicated(keep='last')
print(dup)

0       False
1       False
2       False
3       False
4       False
        ...
1627    False
1628    False
1629    False
1630    False
1631    False
Name: city_munic, Length: 1632, dtype: bool

In [6]:
df['cluster_id'].unique()

array([1, 2, 0], dtype=int64)